<h1>My Teams</h1>

<%= render partial: 'layouts/shared/app_button', locals: { text: 'Add Team', path: new_team_path } %>
<%= render partial: 'collection', locals:  { teams: @teams } %>
<div class="w-full">
	 <div class="shadow-md">
			<div class="tab w-full overflow-hidden border-t">
				 <input class="absolute opacity-0 " id="tab-multi-one" type="checkbox" name="tabs">
				 <label class="block p-5 leading-normal cursor-pointer" for="tab-multi-one">Label One</label>
				 <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
						<p class="p-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
				 </div>
			</div>
	 </div>
</div>
