<% can_manage_team = can_manage_team?(@team, current_user) %>
<div class='bg-gray-300 py-2 px-2 rounded shadow'>
  <div class='w-full'>
    <h1>
      <%= @team.name %>
      <% if can_manage_team %>
      <% end %>
    </h1>
  </div>
  <div class=''>
    <% if true || @current_team_member.can_perform_standup? %>
      <%= link_to new_team_standup_report_path(@team), class:"bg-white text-gray-800 font-bold rounded border-b-2 border-green-500 hover:border-green-600 hover:bg-green-500 hover:text-white shadow-md py-2 px-6 inline-flex items-center" do %>
        <span class="mr-2">Perform Standup</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="currentcolor" d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"></path>
        </svg>
      <% end %>
    <% end %>
  </div>
</div>
<div class='py-2'>
  <hr />
</div>
<h2>Activity Feed</h2>
<% @standup_reports.each do |standup_report| %>
  <% cache standup_report do%>
    <%= render standup_report %>
  <% end %>
<% end %>
