<div id='front-page-banner-lg'>
  <div class='top'>
    <%= image_tag 'dailystandup-logo' %>
  </div>
  <div class='left'>
  </div>
  <div class='right'>
    <div class='content'>
      <%= button_to 'Start Now', new_user_session_path, id: 'start-now' %>
    </div>
  </div>
</div>
