<div id='front-page-banner-lg'>
  <div class='top'>
    <img src='https://ak1.picdn.net/shutterstock/videos/16850581/thumb/6.jpg' />
  </div>
  <div class='left'>
    <div class='content'>
      The<br/>
      Daily Standup
    </div>
  </div>
  <div class='right'>
    <div class='content'>
      <%= button_to 'Start Now', new_user_session_path, id: 'start-now' %>
    </div>
  </div>
</div>
