<% user = activity.actor %>
<div class='py-2'>
  <span>At <%= l(activity.created_at) %>, <em><%= user.full_name %></em> <u><%= link_to activity.description, team_activity_path(activity.team, activity), remote: true %></u></span>
</div>
