<% user = activity.actor %>
<div class='title py-2'>
  <span class='px-2'><%= title %></span>
</div>
<div class='message'>
  <div class='px-2'>
    <%= yield %>
  </div>
</div>
<div class='footer'>
  <span class='px-2'><%= activity.actor.full_name %></span>
</div>
