<%= render layout: 'activities/shared/common', locals: { title: 'New Standup', activity: standup_posted } do %>
  <div data-standup-report-id="<%= standup_posted.notifiable_id %>">
    <%= link_to 'View Now', team_standup_report_path(team_id: standup_posted.team.id, id: standup_posted.notifiable_id), remote: true %>
  </div>
<% end %>
