body.devise {
 @apply bg-gray-900;
}

body, * {
  box-sizing: border-box;
}

h1{
 font-size: 3rem;
 font-weight: bold;
}

h2{
 font-size: 1.75rem;
 font-weight: bold;
}

h3{
 font-size: 1.50rem;
 font-weight: bold;
}

h4{
 font-size: 1.25rem;
 font-weight: bold;
}

main {
}

#nav-logo{
  width: 150px;
  height: auto;
  display: inline;
}
input[type='text'], input[type='email'], input[type='password'], input[type='number']{
  @apply px-3;
  @apply py-3;
  @apply text-gray-700;
  @apply bg-white;
  @apply rounded;
  @apply text-sm;
  @apply shadow;
  @apply w-full;
}

input[type='submit']{
  @apply bg-gray-900;
  @apply text-white;
  @apply text-sm;
  @apply font-bold;
  @apply uppercase;
  @apply px-6;
  @apply py-3;
  @apply rounded;
  @apply shadow;
  @apply outline-none;
  @apply mr-1;
  @apply mb-1;
  @apply w-full;

}

form{
}

form .field{
}

form .field label{
}

#front-page-banner-lg {
  @apply p-5;
  @apply grid;
  @apply grid-rows-6;
  @apply grid-cols-2;
  height: 85vh;
  font-size: 72px;
}

#front-page-banner-lg div.top {
  @apply row-span-4;
  @apply col-span-2;
}

#front-page-banner-lg div.top img{
  @apply ml-auto;
  @apply mr-auto;
  max-height: 100%;
  width: auto;
}

#front-page-banner-lg div.left {
  @apply row-span-2;
  @apply col-span-1;
  @apply flex;
  align-items: flex-end;
}
#front-page-banner-lg div.right {
  @apply row-span-2;
  @apply col-span-1;
  @apply flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 24px;
}

#front-page-banner-lg div.left .content {
}

#front-page-banner-lg div.right .content {
  width: 100%;
  margin-bottom: 20px;
}
#start-now {
  @apply w-full;
  @apply shadow-xl;
}
