body {
  background-color: #f1f4f5;
}

main {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

button, input[type='submit']{
  @apply p-4;
  @apply bg-green-600;
  @apply text-white;
  @apply shadow;
  @apply capitalize;
}

button, input[type='submit']:hover{
  @apply bg-green-700;
  @apply cursor-pointer;
  @apply text-gray-100;
}

input[type='text']{
  @apply bg-gray-100;
  @apply border-b-2;
  @apply border-solid;
  @apply block;
  @apply mb-2;
  @apply h-12;
}

form{
  @apply flex;
  @apply flex-col;
  @apply text-center;
}

form .field{
  @apply flex;
  @apply flex-col;
  @apply text-center;
}

form .field label{
  @apply text-left;
  @apply text-gray-700;
}

#front-page-banner-lg {
  @apply text-white;
  @apply p-5;
  @apply shadow-xl;
  @apply grid;
  @apply grid-rows-6;
  @apply grid-cols-2;

  height: 85vh;
  background-color: #084d54;
  font-size: 72px;
}

#front-page-banner-lg div.top {
  @apply row-span-4;
  @apply col-span-2;
}

#front-page-banner-lg div.top img{
  @apply ml-auto;
  @apply mr-auto;
}

#front-page-banner-lg div.left {
  @apply row-span-2;
  @apply col-span-1;
  @apply flex;
  align-items: end;
}
#front-page-banner-lg div.right {
  @apply row-span-2;
  @apply col-span-1;
  @apply flex;
  align-items: end;
  justify-content: center;
  font-size: 24px;
}

#front-page-banner-lg div.left .content {
}

#front-page-banner-lg div.right .content {
  width: 100%;
}
