<div class="md:flex flex-col md:flex-row md:min-h-screen w-full ">
  <div class='flex flex-col w-full md:w-64 flex-shrink-0' id='team-sidebar'>
    <%= cell(:team, @team).(:sidebar, side_bar_option) %>
  </div>
  <div id='team-detail-section' class='w-full bg-white px-2 py-2 rounded shadow'>
    <%= yield %>
  </div>
</div>
